/* COLOR PALETTE:
GREENYELLOW: #ADFF2F
LIME: #00FF00
BLACK:
CORNSILK: #FFF8DC
INDIGO: #4B0082 */
h1{
    font-family: 'Redressed', cursive;
}

/*Global styles*/
img { width: 300px; /*Resizing images*/ }
body {background-color:#b8ca9d; color:black; 
 font-family: 'Redressed', cursive;}

/*Profile*/

/*Projects*/
/*Work Experience*/
.projects a {
    color:#FFF8DC;
    background:cornflowerblue;
    padding: 8px;
    border-radius: 4px;
}
 .projects a:hover{
    background: rgba(47,48,97,80%);
    text-decoration: none;
}


/*Education*/

/*Contact Info*/
footer{
    background:#355ad4;
}
/* Dropdown Button */
.dropbtn {
    background-color: #2a47a7;
    color: rgb(143, 122, 7);
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(131, 88, 88);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #d81111;}