/* COLOR PALETTE:
GREENYELLOW: #ADFF2F
LIME: #00FF00
BLACK:
CORNSILK: #FFF8DC
INDIGO: #4B0082 */
html{ box-sizing: border-box;}
*,*:before, *:after {
  box-sizing:inherit;
}
h1{font-family: 'Redressed', cursive;font-style:oblique; margin-top:0px;
text-align:center;
font-size:100px;
font-weight:400;
margin:0;
line-height:1;}


h2{
  margin:0; font-size:45px;
  font-family: "Century Gothic", sans-serif;
  font-weight:400;
}
.example{ 
font-style:normal;
font-size:48px;
 font-family: 'Redressed', cursive;}
p{ text-align:justify;
font-size: 15px;
line-height: 1.5;
font-family: "Century Gothic", sans-serif; 
margin-top:0.8px;}
/*Global styles*/
#profile{ width: 300px; /*Resizing images*/ float:right;
padding-left: 0.5em;padding-bottom:2em;margin-left:10px;
}
body 
{ background-image: url(../images/tray.jpg);
  
  background-size:cover;
  height: 0.4em;
  background-repeat: no-repeat;
 
  color:black; 
 line-height: 1.5;
 margin:0;
 padding:0;
 font-family: "Century Gothic", sans-serif;
}
.divider >section{
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}
.divider >section:last-of-type{
  border-bottom:none;
}
/*Profile*/

/*Projects*/
/*Work Experience*/
/* h3 + p {
font-style:italic;
} */
.education {
  background-image: url(../images/paper_bckground.jpg);
  
  background-size:cover;
  background-position:bottom;
}
h3 ~p{
  margin: 0;
}
.projects a {
    color:#FFF8DC;
    background:rgb(226, 150, 190);
    padding: 8px;
    border-radius: 4px;
    display:inline-block;
}
 .projects a:hover{
  background-color: rgb(131, 88, 88);;
    text-decoration: none;
}
.job-item{
  display:grid;
  grid-template-columns:1fr 2fr;
  column-gap: 10px;
}

/*Education*/

/*Contact Info*/
footer{
  background-image: url(../images/spring.jpg);
    text-align:center;
    background-repeat: no-repeat;
    background-size:cover;
    
}
/* Dropdown Button */
.dropbtn {
    background-color:rgb(243, 119, 166);
    color:  #f1f1f1;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display:none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .content-wrap{
    max-width:800px;
    width:85%;
    margin: 0 auto;
    padding: 25px 0;
    overflow: hidden;
    border-bottom: 1px groove #343432;
    
  }
  h3{
    margin-top:0px;
    margin-bottom:0px;
  }
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display:block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(131, 88, 88);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: rgb(131, 88, 88);}
  
  .contact-list{
    list-style-type:none;
    padding:0px;
    display:flex;
    justify-content: center;
  }
  .contact-list a{
    padding: 15px;
    display: inline-block;
    font-family: "Century Gothic", sans-serif; 
  }
a{
  text-decoration:none;
}


/* Button property */
button {
  background-color:rgb(226, 150, 190);
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  width: 300px;
}

button:active{
   transform: scale(0.98);
}

button:focus {
   outline:none
}

#quote {
 
   display:flex;
   justify-content: left;
   align-items: left;
   font-family:"Century Gothic", sans-serif;
   font-size: 1.0em;
   /* text-transform: uppercase; */
   font-weight:bold; 

}
#author {
  font-family:"Century Gothic", sans-serif;
  font-size: 1.0em;
  text-transform: uppercase;
  font-weight:bolder;
}

  /* Responsive Styles */
  @media screen{

  }